conf/Config-Hosts.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="Config" type="ConfigType"/>

    <xsd:complexType name="ConfigType">
    	<xsd:sequence>
            <xsd:element name="Host" type="HostType" minOccurs="1" maxOccurs="unbounded"/>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="HostType">
        <xsd:sequence>
            <xsd:element name="Name" minOccurs="1" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                        <xsd:maxLength value="15"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="IP" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Role" type="RoleType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="RoleType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="EnterpriseCA"/>
            <xsd:enumeration value="DomainController"/>
            <xsd:enumeration value="DomainComputer"/>
            <xsd:enumeration value="WebServer"/>
            <xsd:enumeration value="DFSReplication"/>
            <xsd:enumeration value="NDESServer"/>
            <xsd:enumeration value="NDESClient"/>
            <xsd:enumeration value="CEPServer"/>
            <xsd:enumeration value="CEPClient"/>
            <xsd:enumeration value="CESServer"/>
            <xsd:enumeration value="CESClient"/>
            <xsd:enumeration value="OCSPServer"/>
            <xsd:enumeration value="OCSPClient"/>
            <xsd:enumeration value="nShieldConnect"/>
            <xsd:enumeration value="nShieldRFS"/>
            <xsd:enumeration value="nShieldRemoteAdmin"/>
            <xsd:enumeration value="nShieldConnectClient"/>
            <xsd:enumeration value="LunaSA"/>
            <xsd:enumeration value="LunaSAClient"/>
            <xsd:enumeration value="CryptoServerLAN"/>
            <xsd:enumeration value="CryptoServerLANClient"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>