conf/Config-GenericTerms.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="Config" type="ConfigType"/>

    <xsd:complexType name="ConfigType">
    	<xsd:sequence>
    		<xsd:element name="GenericTerms" type="GenericTermsType" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GenericTermsType">
      <xsd:choice minOccurs="1" maxOccurs="unbounded">
        <xsd:element name="Term" type="TermType"/>
      </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="TermType">
      <xsd:sequence>
        <xsd:element name="Placeholder" type="xsd:string"/>
        <xsd:element name="ReplaceWith" type="xsd:string"/>
        <xsd:element name="SearchInHeader">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:pattern value="[Tt][Rr][Uu][Ee]"/>
              <xsd:pattern value="[Ff][Aa][Ll][Ss][Ee]"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>

</xsd:schema>